.logo,
.logo-white {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo {
    transition: color var(--transition-duration) var(--timing-function);

    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web {
    color: var(--accent-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}


.logo-white {
    display: inline-block;
    color: var(--white-text-color);

    transition: color var(--transition-duration) var(--timing-function);
}

.logo-white:hover,
.logo-white:focus {
    color: var(--accent-text-color);
}